<header>
    <img src="/images/logo.png" alt="logo">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Notbooks</a></li>
        <li><a href="#">Pc Gamer</a></li>
    </ul>
</header>